.footer{
        display: flex;
        width: 100vw;
        height: auto;
        margin: 0;
        justify-content: space-around;
        background:var(--primary) ; 
        align-items: center;
        color:var(--back-text);
        padding: 1rem 2rem;
}
.logo-footer{
    width: 50%;
}
.footer-rigth{
    align-items: flex-start;
    gap: 1rem;   
    padding: 0; 
}
.list{
    line-height: 2rem;
    align-items: flex-start;
    display: flex;
    text-align: start;
    flex-direction: column;
}
.listas h3{
    text-align: start;
    margin:0 0 1rem 2rem;
    font-weight: 600;
}
.list li{
    display: flex;
    align-items: center;
    justify-content: center;
}
.listas .link{
    justify-content: center;
    display: flex;
    align-items: center;
}
.listas .link, .list li{
gap: 1rem;}